body{
    background: #c2e59c; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #c2e59c, #64b3f4); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #c2e59c, #64b3f4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
#test-form{
    max-width: 400px;
}
#test-form table{
    border-spacing: 12px
}
#test-form form{
    display: flex;
    flex-direction:column
}

#tabs{ 
    max-width: 1440px;
    margin: 0 auto
}
.formtable input:not(input[type='checkbox']){
    padding: 7px;
    width: 100%
}

.popup-overlay {
    /*Hides pop-up when there is no "active" class*/
    visibility: hidden;
    position: absolute;
    background: #ffffff;
    border: 3px solid #666666;
    left: 25%;
    top: 25%;
    padding: 25px;
}

.popup-overlay.active {
    /*displays pop-up when "active" class is present*/
    visibility: visible;
    text-align: center;
}
.popup-content h2{
    margin-top: 0
}
.popup-content td{
    text-align: left
}
.popup-content table { 
    border-spacing: 10px
 }
.popup-content {
    /*Hides pop-up content when there is no "active" class */
    visibility: hidden;
}

.popup-content.active {
    /*Shows pop-up content when "active" class is present */
    visibility: visible;
}
#coolFormEdit{
    margin-bottom: 10px
}
button {
    display: inline-block;
    vertical-align: middle;
    border-radius: 30px;
    font-size: 1rem;
    color: #666666;
    background: #ffffff;
    border: 1px solid #666666;
    cursor: pointer;
    padding: 2px 10px
}

button:hover {
    border: 1px solid #666666;
    background: #666666;
    color: #ffffff;
}

button.remove{
    background: red;
    color: #ffffff;
    border: 1px solid red;
}

button.remove:hover{
    background: #ffffff;
    color: red;
}